# Global ignore
**/.gradle
**/build
out/
**/.idea
**/.vscode
**/.run
**/.DS_Store
*.swp
*.log

# Docker specific
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.override.yml

# Git / CI / docs
.git
.gitignore
.github
README.md
screenshots/
config/

# Project specific (Gradle wrapper must NOT be ignored)
!gradle/
!gradlew
!gradlew.bat
